.profile {
  display: flex;
  gap: 45px;
  width: 526px;
}
.dogDetail {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  margin: 0 auto;
  gap: 30px;
  align-items: center;
}
.div_dog_name {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.name_dog {
  font-size: 32px;
  font-weight: 800;
  color: var(--seal-brown);
}
.about_dog {
  font-size: 20px;
  font-weight: 700;
  color: var(--rifle-green);
}

.table_container {
  margin: 44px 0 0;
}
table {
  max-width: 526px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 17px;
}
th {
  color: var(--seal-brown);
  text-align: start;
}
th, td {
  border: 1px solid var(--steel-gray);
  border-collapse: collapse;
}
.table_header {
  padding: 20px ;
  text-align: center;
}
.table_features {
  font-size: 17px;
  font-weight: 600;
  color: var(--rifle-green);
  padding: 20px;
}
.table_data {
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-olive-green);
}
.div_banner {
  max-width: 400px;
  overflow: hidden;
}
.banner {
  max-width: 100%;
}

@media screen and (max-width: 1014px) {
  .dogDetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div_banner {
    max-width: 526px;
    overflow: hidden;
  }
  .banner {
    max-width: 100%;
  }
}

@media screen and (max-width: 594px) {
  .profile {
    gap: 25px;
    width: 390px;
  }
  .div_dog_name {
    gap: 10px;
  }
  .name_dog {
    font-size: 26px;
  }
  .about_dog {
    font-size: 18px;
  }
  .table_container {
    margin: 25px 0 0;
  }
  table {
    max-width: 390px;
  }
  .table_header {
    padding: 10px ;
  }
  .table_features {
    font-size: 17px;
    font-weight: 600;
    color: var(--rifle-green);
    padding: 20px;
  }
  .table_temp {
    padding-bottom: 200px;
  }
  .div_banner {
    max-width: 390px;
  }
  .banner {
    max-width: 100%;
  }
}

@media screen and (max-width: 455px) {
  .profile {
    gap: 20px;
    width: 277px;
  }
  .div_dog_name {
    gap: 5px;
  }
  .name_dog {
    font-size: 18px;
  }
  .about_dog {
    font-size: 13px;
  }
  .table_container {
    margin: 20px 0 0;
  }
  table {
    max-width: 277px;
  }
  .table_header {
    padding: 10px ;
    font-size: 13px;
  }
  .table_features {
    font-size: 12px;
    padding: 10px;
  }
  .table_temp {
    padding-bottom: 200px;
  }
  .table_data {
    font-size: 12px;
    padding: 8px;
  }
  .div_banner {
    max-width: 277px;
  }
  .banner {
    max-width: 100%;
  }
}

