header {
  position: absolute;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
  padding: 34px 30px;
}
.wrapper{
  background-color: var(--seal-brown);
}
main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 30px;
}
.main_left {
  max-width: 350px;
  margin-top: 9.6%;
}
.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 55px;
  letter-spacing: 0.5%;
  color: var(--laurel-green);
  text-align: center;
}
.access_button {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--default-white);
  background-color: var(--dark-olive-green);
  border: none;
  border-radius: 12px;
  max-width: 200px;
  padding: 18px 30px 18px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.access_button:hover {
  gap: 20px;
  background-color: var(--kombu-green);
}
.main_right {
  max-width: 350px;
  padding-top: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo_resp {
  display: none;
}
.logo_mobile {
  display: none;
}


@media screen and (max-width: 999px) {
  .hero {
    display: none;
  }
  .logo_resp {
    display: block;
  }
  .main_right{
    margin-right: 4%;
  }
  .main_left{
    margin-top: 0%;
    margin-bottom: 9.6%;
  }
}

@media screen and (max-width: 896px) {
  .main_left{
    margin-top: 0%;
    margin-bottom: 9.6%;
  }
  .main_right{
    margin-right: 0%;
  }
}

@media screen and (max-width: 849px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .logo_resp{
    margin-left: 12.5px;
  }
  .main_left {
    margin-right: 20%;
    margin-bottom: 0%;
  }
  .main_right {
    margin-bottom: 9.6%;
    padding-top: 10%;
  }
}

@media screen and (max-width: 525px) {
  main {
    padding: 0 15px;
  }
  .logo_resp {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
  .main_left {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: -4%;
  }
  .title {
    font-size: 38px;
    line-height: 43px;
  }
  .access_button {
    justify-content: center;
    gap: 15px;
    max-width: 500px;
    width: 100%;
    padding: 18px 30px 18px 30px;
  }
}